.header{
    background-color: #00add8;
    display: flex;
    /* height: 10px; */
    padding: 20px 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header .caption{
    font-family: "Times New Roman", Georgia, serif;
    font-size: 25px;
    font-weight: 400;
    color: #fcfcfc;
    margin-left: 20px;
}

.header .btn-group{
    position: fixed;
    margin: auto;
    display: flex;
    right: 60px;
}

.header .btn-group .btn {
    background-color: none;
    font-size: 20px;
    margin: 5px 0 0 10px;
    /* border: 1px solid #fff; */
    color: #fff;
}
/* 
.AppBar{
    background-color:#00add8;
} */